* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(110, 110, 218);
    background-size: cover;
    font-family: "Montserrat", Sans-serif;

}

.contenedor {
    width: 60%;
    max-width: 1200px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    margin: auto;
    min-width: fit-content;

}

.menu1{
    width: 100%;
    background: black;
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
}

/* HEADER -------------*/
header {
    background: rgb(67, 39, 93);
    padding: 10px;
    margin:10px;
    flex-direction: row; /* un elemento se pone al lado del otro*/
    justify-content: space-between;
    align-items: center;
    display: flex;
}

header .menu {
    width: 50%;
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    font-weight: bolder;
    background: red;
    display: flex;

}

header .logo {
    width: 20%;
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    font-weight: bolder;
    background: red;
    display: flex;

}


header .social {
    width: 30%;
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    font-weight: bolder;
    background: red;
    display: flex;

}

/*BANNER-----------------------*/

.banner {
    padding: 15px;
    margin: 15px;
    background: rgb(254, 158, 24);
    flex-wrap: wrap;
}

.banner p {
    background: rgb(255, 246, 65);
    padding: 20px;
    font-weight: bolder;
}

/*MAIN-----------------------*/

.main {
    width: 100%;
    padding: 10px;
    margin: 10px;
    display: flex;
    background: black;
}


section {
    width: 85%;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    margin: 10px;
    background-color: rgb(85, 70, 98);
}
.article-container {
    display: flex;
}
.article-par{
    width: 50%;
    display: flex;
    flex-direction: column;
}
   
article {
    background-color: rgb(57, 114, 195);
    padding: 10px;
    margin: 10px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}

nav {
    background-color: rgb(24, 150, 204);
    padding: 10px;
    margin: 10px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}

aside{
    display: flex;
    flex-direction: column;
    width: 25%;
    background: rgb(217, 45, 45);
    padding: 10px;
    margin: 10px;
    flex-wrap: wrap;
}

aside .ad{
    background-color: rgb(255, 246, 65);
    padding: 10px;
    margin: 10px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    display: flex;
    
}

/*FOOTER-----------------------*/
footer{
    width: 100%;
    background: rgb(0, 0, 0);
    margin: 10px;
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row;
}

footer .pie {
    background: rgb(242, 242, 164);
    margin: 10px;
    padding: 10px;
    font-weight: bolder;

}

/*RESPONSIVE*/

@media only screen and (max-width:900px) {
    body{
        background: black;
    }
    .contenedor{
        background: whitesmoke;
    }
    .menu1 {
        width: 100%;
    }
    .main {
        width: 100%;
        flex-wrap: wrap;
    } 
    section{
        width: 100%;
    }
    aside {
        width: 100%;
    } 
    footer {
        width: 100%;
    } 
}

@media only screen and (max-width:600px) {
    body{
        background: red;
    }
    .contenedor{
        background: goldenrod;
    }
   
    header {
        flex-direction: column;
    }

    header .logo{
        width: 100%;
    }
    header .menu{
        width: 100%;
    }
    header .social{
        width: 100%;
    }
    .main {
        width: 100%;
        flex-wrap: wrap;
    } 
    section{
        width: 100%;
    }
    .article-container {
        flex-direction: column;
        padding-bottom: 10px;
    }

    .article-par{
        width: 100%;
    }
}

/*ANIMACION*/

header .logo:hover{
    text-decoration: underline;
    background: rgb(244, 23, 244);
    cursor: pointer;
    animation: changeDC .20s forwards;
}


@keyframes changeDC{
    0%{
        scale: 1;
        background: rgb(244, 23, 244)
    }

    100%{
        scale: 1.18;
    }
}






